<h1>Eat-Da-Burger</h1>


{{!-- GIF --}}
<img class="burg-gif" src="https://66.media.tumblr.com/tumblr_lz8hw14V2C1r5mnvxo4_250.gif" alt"burger pic">


{{!-- UN-EATEN BURGERS DIv --}}

<div class="row">


<div class="burgerdiv col-sm-6" id="uneaten">
<h2>Burgers to Devour!</h2>
<ol>
    {{#each burger}}
    {{#unless this.devoured}}
    <span> {{this.id}}. {{this.burger_name}}</span>
   <button type="button" class="devour-btn" data-id="{{this.id}}" data-dev="{{devour}}">DEVOUR!</button>
    {{/unless}}
    {{/each}}

</ol>
</div>

{{!-- EATEN BURGERS DIV --}}

<div class="burgerdiv col-sm-6" id="eaten">
<h2>Devoured Burgers! Urrrrp!</h2>
<ul>
    {{#each burger}}
    {{#if this.devoured}}
    <span> {{this.id}}. {{this.burger_name}}</span>
    {{/if}}
    {{/each}}
</ul>
</div>
</div>

{{!-- ADD BURGER FORM --}}
<div id="add-burg">
<h2>Add a Burger to devour</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit" class="add-btn">Add da burg</button>
</form>
</div>
